div.banner{
	overflow: hidden;
	position: relative;
}
div.banner img{
	width: 100%;
}
div.banner .banner-img div.describe{
	position: absolute;
	top:200px;
	left:80px;
	color: #fff;
}
div.banner .banner-img div.describe .p1{
	font-size: 40px;
}
div.banner .banner-img div.describe button{
	text-align: center;
	font-size: 30px;
	background-color: red;
	margin-top: 30px;
	height: 60px;
	line-height: 60px;
	width:400px;
	outline: none;
	border: none;
}
div.banner .banner-img div.describe .p2,div.banner .banner-img div.describe .p3{
	font-size: 20px;
}
div.banner ul{
	margin-top: 100px;
	overflow: hidden;
}
div.banner ul li{
	float: left;
	list-style: none;
	width: 25%;
	text-align: center;
    padding-bottom: 50px;
}
div.banner ul li p{
	line-height: 30px;
	box-sizing:border-box;
    border-right: 2px solid #d4d4d4;
}
div.banner ul li.circle:before{
    content: '';
    display: block;
    height: 50px;
    margin-bottom: 50px;
    background: url(../img/round_icon.png) no-repeat center center; 
    
}
div.banner ul li.flag:before{
    content: '';
    display: block;
    height: 50px;
     margin-bottom: 50px;
   background: url(../img/flag_icon.png) no-repeat center center; 
}
div.banner ul li.flower:before{
    content: '';
    display: block;
    height: 50px;
    margin-bottom: 50px;
   background: url(../img/flower_icon.png) no-repeat center center; 
}
div.banner ul li.four:before{
    content: '';
    display: block;
    height: 50px;
     margin-bottom: 50px;
   background: url(../img/four_icon.png) no-repeat center center; 
}
div.banner div.banner-text{
	padding:100px 0 40px 0;
	text-align: center;
    color: #C5C1AA;
    font-size: 50px;
    background-color: #eee;
}
div.banner div.banner-text p:before{
   content: '';
   display: block;
   height: 100px;
   margin-bottom: 20px;
   background: url(../img/big_logo.png) no-repeat center center;
}
div.banner div.search{
	text-align: center;
	height: 341px;
	background: url(../img/search_bac.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	padding-top: 50px;
	box-sizing:border-box;
}
div.banner div.search .p1{
   font-size: 30px;
   margin-bottom: 20px;
}
div.banner div.search .p2{
	font-size: 30px;
}
div.banner div.search div.search-select{
	margin-top: 40px;
	text-align: center;
	overflow: hidden;
}
div.banner div.search div.search-select form{
	display: inline-block;
}
div.banner div.search div.search-select form div{
	position: relative;
	display: inline-block;
}
div.banner div.search div.search-select select,div.banner div.search div.search-select button{
	text-align: center;
    width:250px;
    height:35px;
	margin-right: 30px;
	
}
div.banner div.search div.search-select button{
	background: red;
	color: #fff;
	border:none;
}
div.banner div.search div.search-select div:after{
	content: '';
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../img/btnb.png) center center no-repeat;
	position: absolute;
    right: 35px;
    top:7px;
}

